<div class="flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-white py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="mb-8">
                        <img src="" alt="logo">
                    </div>
                    <div class="text-mlm-text text-3xl font-medium mb-4">Welcome to MLM!</div>
                    <span class="text-mlm-secondary font-medium">Sign in to continue</span>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="email1" class="block text-mlm-text text-base font-medium mb-2">Email Address or Phone Number</label>
                        <input pInputText id="email1" type="email" placeholder="Email address" class="w-full md:w-120 mb-8" formControlName="email" />

                        <label for="password1" class="block text-mlm-text text-base font-medium mb-2">Password</label>
                        <p-password id="password1" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <!-- <div class="flex items-center">
                                <p-checkbox formControlName="rememberMe" id="rememberme1" binary class="mr-2"></p-checkbox>
                                <label for="rememberme1" class="text-mlm-text">Remember me</label>
                            </div> -->
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-mlm-primary">Forgot password?</span>
                        </div>
                        <p-button 
                            label="Sign In" 
                            styleClass="w-full !bg-mlm-primary !border-mlm-primary" 
                            type="submit" 
                            [loading]="loadingService.isLoading()">
                        </p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
